@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        height: 100%;
        margin: 0;
        overflow: hidden;
        /* App container handles scrolling */
    }
}