@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        height: 100%;
        margin: 0;
        /* overflow: hidden; Removed to allow scrolling on other pages */
        /* App container handles scrolling for Home, but generic pages need body scroll */
    }
}